/*#yii-debug-toolbar {color:#000;background:#FFF;}
#yii-debug-toolbar, #yii-debug-toolbar div, #yii-debug-toolbar span, #yii-debug-toolbar applet, #yii-debug-toolbar object, #yii-debug-toolbar iframe,
#yii-debug-toolbar h1, #yii-debug-toolbar h2, #yii-debug-toolbar h3, #yii-debug-toolbar h4, #yii-debug-toolbar h5, #yii-debug-toolbar h6, #yii-debug-toolbar p, #yii-debug-toolbar blockquote, #yii-debug-toolbar pre,
#yii-debug-toolbar a, #yii-debug-toolbar abbr, #yii-debug-toolbar acronym, #yii-debug-toolbar address, #yii-debug-toolbar big, #yii-debug-toolbar cite, #yii-debug-toolbar code,
#yii-debug-toolbar del, #yii-debug-toolbar dfn, #yii-debug-toolbar em, #yii-debug-toolbar font, #yii-debug-toolbar img, #yii-debug-toolbar ins, #yii-debug-toolbar kbd, #yii-debug-toolbar q, #yii-debug-toolbar s, #yii-debug-toolbar samp,
#yii-debug-toolbar small, #yii-debug-toolbar strike, #yii-debug-toolbar strong, #yii-debug-toolbar sub, #yii-debug-toolbar sup, #yii-debug-toolbar tt, #yii-debug-toolbar var,
#yii-debug-toolbar b, #yii-debug-toolbar u, #yii-debug-toolbar i, #yii-debug-toolbar center,
#yii-debug-toolbar dl, #yii-debug-toolbar dt, #yii-debug-toolbar dd, #yii-debug-toolbar ol, #yii-debug-toolbar ul, #yii-debug-toolbar li,
#yii-debug-toolbar fieldset, #yii-debug-toolbar form, #yii-debug-toolbar label, #yii-debug-toolbar legend,
#yii-debug-toolbar table, #yii-debug-toolbar caption, #yii-debug-toolbar tbody, #yii-debug-toolbar tfoot, #yii-debug-toolbar thead, #yii-debug-toolbar tr, #yii-debug-toolbar th, #yii-debug-toolbar td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    text-align:left;
    list-style:none;
    list-style-type:none;
    color: #424242;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
}*/

#yii-debug-toolbar{
    position: absolute;
    right: 0;
    top: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

#yii-debug-toolbar-wrapper {
    position: relative;
}


#yii-debug-toolbar-switcher {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: transparent url("images/toolbar.png") ;
    cursor: pointer;
    
}